
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1503255641589'); /* IE9*/
  src: url('iconfont.eot?t=1503255641589#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1503255641589') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1503255641589') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1503255641589#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-custom-my:before { content: "\e608"; }

.icon-custom-forward:before { content: "\e609"; }

.icon-custom-back:before { content: "\e60a"; }

.icon-custom-share:before { content: "\e616"; }

.icon-custom-menu:before { content: "\e61a"; }

.icon-custom-play:before { content: "\e61b"; }

.icon-custom-screen:before { content: "\e61c"; }

.icon-custom-ok:before { content: "\e631"; }

.icon-custom-user:before { content: "\e632"; }

.icon-custom-phone:before { content: "\e634"; }

.icon-custom-delete:before { content: "\e63b"; }

.icon-custom-add:before { content: "\e641"; }

.icon-custom-wechat:before { content: "\e642"; }

.icon-custom-alipay:before { content: "\e643"; }

.icon-share:before { content: "\e67c"; }

.icon-search:before { content: "\e680"; }

.icon-five-pointed-star:before { content: "\e681"; }

.icon-wechat:before { content: "\e62f"; }

.icon-zhiding:before { content: "\e684"; }

.icon-sina:before { content: "\e60b"; }

