html,
body {
    height: 100%;
}

body {
    padding: 0;
    background-color: #eee;
}

.g_navbar_signin {
    background: #337ab7;
}

.g_sign-brand {
    color: #eee;
}

a:hover,
a:focus {
    color: #eee;
}


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.logOut {
    float: right;
    padding: 15px;
}

.logOut a {
    text-decoration: none;
    color: #eee;
}
.g_userInfo{
    display: inline-block;
    height: 15px;
    width: 100%;
    margin: 8px 0;
    line-height: 15px;
    color: #da0303;
    font-size: 14px;
}