<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatiable" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <link href="/stylesheets/lib/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index/animation.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index/index.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/conmmon/theme.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/conmmon/conmmon.css">
    <script type="text/javascript" src="/javascripts/index/main.js"></script>
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>lighter gellery</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-fixed-top ">
            <div class="g_navbar_theme">
                <div class="container">
                    <!-- Brand  -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed g_toggleNavBar" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="javascript:void(0)">Gellary</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"></div>
                </div>
            </div>
        </nav>
        <!-- 导航结束 -->
        <div class="g_head_pic"></div>
    </header>
    <main>
        <div id="g_thumbnailWrap" class="container center-block">
            <div id="g_waterfall" class="row">
                <div class="center-block col-md-12 col-sm-12 g_item_title">
                    <h1>纪录你的每一瞬间</h1>
                    <h3>Record Every Moment</h3>
                </div>
                <div id="g_calcSize" class="col-md-3 col-sm-6 " style="visibility: hidden;">
                    <div id="g_calcThumb" class="thumbnail">
                        <a class="g_items" style="display:block; background-size:cover;" href="javascript:void(0)"></a>
                        <div class="g_infor">
                            <div class="g_infor_head">
                                <a class="g_credit" href="javascript:void(0)"></a>
                                <div class="g_author">
                                    <a href="javascript:void(0)">aaaa</a>
                                </div>
                            </div>
                            <div class="g_infor_right"></div>
                        </div>
                    </div>
                </div>
                <div id="backtop" class="iconfont">&#xe684;</div>
                <div class="js-itemBox clearfix g_wrapThumb"></div>
            </div>
            <div class="g_preload">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <hr class="g_cutOff">
        </div>
    </main>
    <footer class="container center-block">
        <div class="row">
            <div class="col-sm-12 col-md-9"></div>
            <div class="col-sm-12 col-md-3">
                <div class="g_linkSNS">
                    <a href="javascript:void(0)">
                        <i class="iconfont sina">&#xe60b;</i>
                    </a>
                    <a href="javascript:void(0)">
                        <i class="iconfont wechat">&#xe62f;</i>
                    </a>
                </div>
                <p class="pull-right">© 2017 Company, Inc.</p>
            </div>
        </div>
    </footer>
    <!-- <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script> -->
    <script src="/javascripts/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/index/collapse.js"></script>
    <script type="text/javascript" src="/javascripts/index/backtop.js"></script>
    <script type="text/javascript" src="/javascripts/index/waterfall.js"></script>
    <script type="text/javascript" src="/javascripts/index/icommon.js"></script>
</body>

</html>