<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="zhl">
    <title>lighter login</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="http://v3.bootcss.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/stylesheets/upload/signin.css" rel="stylesheet">
    <link href="/stylesheets/conmmon/conmmon.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--     <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="navbar">
            <div class="g_navbar_signin">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand g_sign-brand" href="javascript:void(0)">Lighter</a>
                    </div>
                </div>
            </div>
        </nav>
    <div class="container vertical-center">
        <form class="form-signin" method="post" enctype="application/X-WWW-form-urlencoded" id="user" name="user" style="font-size: 0;">
            <h2 class="form-signin-heading" style="text-align: center;">Lighter 管理登录</h2>
            <label  for="inputName" class="sr-only" ame="userName">账号</label>
            <input type="text" id="inputName" class="form-control" placeholder="账号" name="userName" required autofocus autocomplete="off">
            <i id="g_mgsName" class="g_userInfo"></i>
            <label for="inputPassword" class="sr-only" name="pass">密码</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="密码" required name="pass" autocomplete="off">
            <i id="g_mgspass" class="g_userInfo"></i>
            <button class="btn btn-primary btn-sm btn-block" type="button" id="g_loginSubmit">登录</button>
        </form>
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/javascripts/common/fetch.js"></script>
    <script src="/javascripts/upload/login.js"></script>
   <!--  /container
   IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>