<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatiable" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <link href="/stylesheets/lib/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/show/animation.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/show/theme.show.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/conmmon/conmmon.css">
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>galleryPorject</title>
</head>

<body>
    <div class="g_theaterwrap container-fluid g_pageFull">
        <div class="row g_pageFull g_overFlow g_pageWrap">
            <div id="g_showgellary" class="col-md-9 g_inserve g_pageFull">
                <div class="navbar">
                    <div class="container-fluid">
                        <div class="nav navbar-right">
                            <ul class="navbar-nav g_show-ul">
                                <li class="g_headIcon">
                                    <a href="javascript:;" class="g_Block">
                                        <i class="iconfont g_fullScreen" title="全屏播放">&#xe60c;</i>
                                    </a>
                                </li>
                                <li class="g_headIcon">
                                    <a href="/" class="g_Block">
                                        <i class="iconfont g_close" title="关闭">&#xe69a;</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="g_showitem g_pageFull">
                    <div class="g_showpic g_overFlow">
                        <img class="g_photo centeAll" src="" >
                        <div class="g_btnLeft verticalCenter">
                            <i class="iconfont icon-custom-forward g_left js-g_left">&#xe697;</i>
                        </div>
                        <div class="g_btnRight verticalCenter">
                            <i class="iconfont js-g_right">&#xe6a7;</i>
                        </div>
                    </div>
                    <div class="g_indwrap">
                        <div class="g_indicators">
                            {{#renderThumb datas fimg}}{{/renderThumb}}
                        </div>
                    </div>
                </div>
                </script>
            </div>
            <aside class="col-md-3 g_inserve sidebar g_pageFull">
                <div class="g_personAttr">
                    <div class="g_uerIform g_left">
                        <p class="g_userName">
                            {{#authortInfo datas}}{{/authortInfo}}
                        </p>
                        <p class="g_userName g_userIntroduce"><span class="g_introduceTitle">简介：</span>xxxxxxx</p>
                    </div>
                    <div class="g_AvatorWrap g_left">
                        <a class="g_userRegion" href="javascript:;">
                            <img class="g_userAvator" src=""></img>
                        </a>
                    </div>
                </div>
                <hr class="g_showPagehr">
            </aside>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
    window.resource = {
        gelUrl:null,
        _FIMG:null
    }
    let a = [];
    a.push({{#getValue datas}}{{/getValue}})
    window.resource.gelUrl = a;
    window.resource._FIMG = '{{fimg}}';
    console.log(resource)
    </script>
    <script type="text/javascript" src="/javascripts/show/showpage.js"></script>
    <script type="text/javascript" src="/javascripts/show/coursel.js"></script>
    <!-- <script type="text/javascript" src="js/waterfall.js"></script> -->
</body>

</html>