/*字体图标*/

@font-face {
    font-family: 'iconfont';
    src: url('/font/font_390817_0z8p7r26plgcik9/iconfont/iconfont.eot');
    src: url('/font/font_390817_0z8p7r26plgcik9/iconfont.eot?#iefix') format('embedded-opentype'),
    url('/font/font_390817_0z8p7r26plgcik9/iconfont.woff') format('woff'),
    url('/font/font_390817_0z8p7r26plgcik9/iconfont.ttf') format('truetype'),
    url('/font/font_390817_0z8p7r26plgcik9/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/* 初始化head hover */

.g_navbar_theme .navbar-nav>li>a:hover {
    font-weight: 400;
    color: #fff;
    background-color: transparent;
}

.g_navbar_theme .navbar-brand:hover {
    color: #fff;
}

.g_navbar_active .navbar-nav>li>a:hover {
    font-weight: 400;
    background-color: transparent;
}

/* 内容部分 */

.g_item_title h1 {
    text-align: center;
}

/* 图片信息 */
.g_infor {
    position: absolute;
    top: 4px;
    left: 20px;
    right: 20px;
    height: 40px;
    background: linear-gradient(to top, transparent, rgba(0,0,0,.3) 100%);
    opacity: 0;
    transition: opacity linear .3s;
}
.thumbnail:hover .g_infor{
    opacity: 1;
}
/* 图片顶部hover下移动画 */
.g_infor .g_infor_head,.g_infor_right{
    position: absolute;
    left: 20px;
    top: 0;
    opacity: 0;
    transition: all .2s;
}
.thumbnail:hover .g_infor_head,.g_infor_right{
    top: 5px;
    opacity: 1;
    
}
.g_infor .g_infor_head .g_credit{
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    border-radius: 50%;
    background: white;
    opacity: 1; 
}
.g_infor .g_infor_head .g_credit:hover{
    opacity: .9;
}
/* 缩略图顶部作者名字 */
.g_author{
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.g_author a, .g_author a:hover,.g_author a:focus{
    color: white;
    text-decoration: none;
}
/* 返回顶部 */
 #backtop{
        position: fixed;
        display: none;
        right: 40px;
        bottom: 20%;
        height: 40px;
        width: 40px;
        line-height: 40px;
        font-size: 18px;
        text-align: center;
        border: 1px solid #337ab7;
        cursor: pointer;
        color: #337ab7;
        transition: border-width .2s;
        z-index: 2;

    }
    #backtop:hover{
        border-width: 2px;
    }

